@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0056b3;
  /* --accent-color: #ff6347; */
  --background-color: #e0f4fd; /* ソフトブルーに変更 */
  --text-color: #334e68; /* ブルーグレーに変更 */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}
